<!DOCTYPE html>
<html lang=en>

<head>
    <title>{% block head_title %}Connex.us{% endblock head_title %}</title>

    <link rel="stylesheet" href="/bootstrap/css/bootstrap.min.css">
    <script src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js'></script>
    {% block head_include %}{% endblock head_include %}

</head>
<body>
    <div class='container'>
        <h1>Connex.us (Phase 2)</h1>
        <a href='/manage'>Manage</a>&nbsp;|&nbsp;
        <a href='/create'>Create</a>&nbsp;|&nbsp;
        <a href='/view'>View</a>&nbsp;|&nbsp;
        <a href='/search'>Search</a>&nbsp;|&nbsp;
        <a href='/trending'>Trending</a>&nbsp;|&nbsp;
        <a href='/social'>Social</a>
        <!--<a href='/contact'>Contact</a>-->
    </div>

    <div class='container'>
    {% block content %}{% endblock content %}
    </div>

</body>
</html>