<!DOCTYPE html>
<html lang=en>

<head>
<title>{% block head_title %}Connex.us{% endblock head_title %}</title>
{% include 'snippets/css.html' %}
{% block head_include %}{% endblock head_include %}
<script src='https://code.jquery.com/jquery-3.2.1.min.js'></script>
</head>
<body>

{% include 'snippets/nav.html' %}

<div class='container'>
{% block content %}{% endblock content %}
</div>


<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="/bootstrap/js/auto_search.js"></script>


{% block javascript %}{% endblock javascript %}

</body>
</html>