{% extends "base.html" %}

{% block head_title %}{{ page }} || Connex.us{% endblock head_title %}

{% block head_include %}{% endblock head_include %}

{% block content %}
<h1>Create</h1>
 Create Stream!<br>
    <p>
    </p>
    <form action="/create" method="post">
        <input type="text" name="streamname" style="width:300px" placeholder="Name your stream"><br><br>
        <input type="text" name="subs" style="width:300px" placeholder="Add subscribers (comma delimited)"><br>
        <input type="text" name="subs_msg" style="width:300px;height:100px" placeholder="Optional message for the invite"><br><br>
        <input type="text" name="tags" style="width:300px" placeholder="Tag your stream (comma delimited)"><br><br>
        <input type="text" name="coverUrl" style="width:300px" placeholder="URL to cover image (can be empty)"><br><br>
        <input type="submit" value="Create">
    </form>

      <script src="http://code.jquery.com/jquery-1.9.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/2.0.1/js/toastr.js"></script>
      <script type="text/javascript">
      $(document).ready(function() {
      {% if error == "1" %}
        toastr.error('You tried to create a new stream whose name is the same as an existing stream. Operation did not complete.<br/><br/><button type="button" class="btn clear">I\'m Sorry</button>', 'Duplicate Stream Names!', 
           {"debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": 0,
            "extendedTimeOut": 0,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
           });

        window.history.replaceState(null, null, window.location.pathname);
      {% endif %}
      {% if error == "2" %}
        toastr.error('Stream name cannot be empty!<br/><br/><button type="button" class="btn clear">I won\'t do it again</button>', 'Empty Stream Name', 
           {"debug": false,
            "newestOnTop": true,
            "progressBar": false,
            "positionClass": "toast-top-right",
            "preventDuplicates": true,
            "onclick": null,
            "showDuration": "300",
            "hideDuration": "1000",
            "timeOut": 0,
            "extendedTimeOut": 0,
            "showEasing": "swing",
            "hideEasing": "linear",
            "showMethod": "fadeIn",
            "hideMethod": "fadeOut",
           });

        window.history.replaceState(null, null, window.location.pathname);
      {% endif %}});
      </script>

{% endblock  %}

{% block javascript %}{% endblock javascript %}