{% extends "base.html" %}

{% block head_title %}Create || {{ page }}{% endblock head_title %}

{% block head_include %}{% endblock head_include %}

{% block content %}
<h1>Create</h1>
 Create Stream!<br>
    <p>
    </p>
    <form action="/create" method="post">
        <input type="text" name="streamname" style="width:300px" placeholder="Name your stream"><br><br>
        <input type="text" name="subs" style="width:300px" placeholder="Add subscribers (comma delimited)"><br>
        <input type="text" name="subs_msg" style="width:300px;height:100px" placeholder="Optional message for the invite"><br><br>
        <input type="text" name="tags" style="width:300px" placeholder="Tag your stream (comma delimited)"><br><br>
        <input type="text" name="coverUrl" style="width:300px" placeholder="URL to cover image (can be empty)"><br><br>
        <input type="submit" value="Create">
    </form>

{% endblock  %}

{% block javascript %}{% endblock javascript %}