{% extends "base.html" %}

{% block content %}

<h1>Welcome to Connexus!</h1>
<h2>Share the World!</h2>

<head>
  <meta name="google-signin-client_id" content="726264805787-r04pldtjtkr88b255pfu802do7h6b0r0.apps.googleusercontent.com">
</head>
<body>
  <div id="my-signin2"></div>
  <script>
    function onSuccess(googleUser) {
      var id_token = googleUser.getAuthResponse().id_token;
      var xhr = new XMLHttpRequest();
      xhr.open('POST', '/', true);
      xhr.setRequestHeader('Content-Type', 'application/x-www-form-urlencoded');
      xhr.send('idtoken=' + id_token);
    }

    function onFailure(error) {
      console.log(error);
    }

    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>


  <a href="#" onclick="signOut();">Sign out</a>
    <script>
      function signOut() {
        var auth2 = gapi.auth2.getAuthInstance();
        auth2.signOut().then(function () {
          console.log('User signed out.');
        });
      }
    </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>

<div class="nav-collapse collapse pull-right">
    <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
</div>




{% endblock content %}