{% extends "base.html" %}

{% block head_title %}Manage || {{ page }}{% endblock head_title %}


{% block content %}

<head>
<style>
table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}
</style>

    <script>
    $(document).ready(function() { 
        $("#t01").tablesorter(); 
    } ); 
    </script>

</head>
<h1>Manage</h1>

    <b><u>Streams I own:</u></b><br>
        <table id="t01" class="tablesorter">
        <thead>
        <tr>
            <th>Name</th>
            <th>Last New Picture</th> 
            <th>Number of Pictures</th>
            <th>Delete</th>
        </tr>
        </thead>
    	<tbody>
        {% for stream in user_streams %}
            <form action="/delete" method="post">
            <tr>
                <td><a href="/view/{{ stream.key.id() }}">{{ stream.name }}</a></td>
                <td>{{ stream.lastPicDate }}</td> 
                <td>{{ stream.imageCount }}</td> 
                <td>
                <input type="checkbox" name="delete" value="{{ stream.key.id() }}">
                </td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
                {% if user_streams %}
                    <input type="submit" value="Delete Checked Streams">
                {% endif %}
            </form>

<br>
<br>
<br>

    <b><u>Streams I subscribe to:</u></b><br>
        <table id="t02">
        <tr>
            <th>Name</th>
            <th>Last New Picture</th> 
            <th>Number of Pictures</th>
            <th>Views</th>
            <th>Unsubscribe</th>
        </tr>
        {% for stream in subscribe %}
            <form action="/unsubscribe" method="post">
            <tr>
                <td><a href="/view/{{ stream.stream.id() }}">{{ stream.stream.get().name }}</a></td>
                <td>{{ stream.stream.get().lastPicDate }}</td> 
                <td>{{ stream.stream.get().imageCount }}</td> 
                <td>{{ stream.stream.get().viewCount }}</td> 
                <td>
                <input type="checkbox" name="unsub" value="{{ stream.key.id() }}">
                </td>
            </tr>
        {% endfor %}
        </table>
                {% if subscribe %}
                    <input type="submit" value="Unsubscribe Checked Streams">
                {% endif %}
            </form>




{% endblock  %}