{% extends "base.html" %}

{% block head_title %}Search || {{ page }}{% endblock head_title %}

{% block head_include %}
    <style>
        .image {
            position: relative;
            width: 256px;
            height: 256px;
            float: left;
            border: 5px;
            border-style: solid;
            border-color: black;
            margin-right: 5px;
            margin-bottom: 5px;
        }
        h2 {
           position: absolute;
           top: 200px;
           left: 0;
           width: 100%;
        }
        h2 span {
           color: white;
           font: bold 24px/45px Helvetica, Sans-Serif;
           letter-spacing: -1px;
           background: rgb(0, 0, 0); /* fallback color */
           background: rgba(0, 0, 0, 0.7);
           padding: 10px;
        }

    </style>
{% endblock head_include %}

{% block content %}

<h1>Search</h1>
<form action="/search" method="post">
        <input type="text" name="search_string" placeholder="Search Streams"><br>
        <input type="submit" value="Search">
</form>

{% if search_string %}
	<h4>Search for <b><u>"{{ search_string }}"</u></b> found {{ num_results }} results:</h4>
	{% if num_results > 5 %}
		<h5>The first five streams are linked below</h5>
	{% endif %}
	<h5>Click on an image to view stream</h5>
	{% for stream in found_streams %}
	    <a href="/view/{{ stream.key.id() }}">
			{% if stream.coverImageURL %}
				<div class="image">
                    <img src = "{{ stream.coverImageURL }}"  alt=""/>
                    <h2><span>{{ stream.name }}</span></h2>
                </div>
            {% else %}
                <div class="image">
                    <img src = "/bootstrap/img/empty_cover_image.png" alt=""/>
                    <h2><span>{{ stream.name }}</span></h2>
                </div>
            {% endif %}
		</a>
	{% endfor %}	
{% endif %}

{% endblock content %}

{% block javascript %}{% endblock javascript %}