{% extends "base.html" %}

{% block head_title %}{{ page }} || Connex.us{% endblock head_title %}

{% block content %}

<head>
<style>
.stream_name {
    position: relative;
    text-align: center;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

h2 {
    position: absolute;
    color: black;
}
</style>
</head>

<h1>View All Streams</h1>
{% for s in streams %}
	<!--<a href="{{ s }}">-->
    <a href="/view/{{ s.key.id() }}">
			{% if s.coverImageURL %}
                <div>
                <img src = "{{ s.coverImageURL }}" style="float:left;margin-right:1%;margin-bottom:0.5em;width:160px;height:160px;">
            {% else %}
                <div>
                <img src = "/bootstrap/img/empty_cover_image.png" style="float:left;margin-right:1%;margin-bottom:0.5em;width:160px;height:160px;">
            {% endif %}
                <h2>{{ s.name }}</h2>
                </img>
                </div>
	</a>
{% endfor %}

{% endblock  %}