{% extends "base.html" %}

{% block head_title %}View || {{ page }}{% endblock head_title %}

{% block content %}

<head>
<style>
.image {
    position: relative;
    width: 256px;
    height: 256px;
    float: left;
    border: 5px;
    border-style: solid;
    border-color: black;
    margin-right: 5px;
    margin-bottom: 5px;
}
h2 {
   position: absolute;
   top: 200px;
   left: 0;
   width: 100%;
}
h2 span {
   color: white;
   font: bold 24px/45px Helvetica, Sans-Serif;
   letter-spacing: -1px;
   background: rgb(0, 0, 0); /* fallback color */
   background: rgba(0, 0, 0, 0.7);
   padding: 10px;
}

</style>
</head>

<h1>View All Streams</h1>
{% for s in streams %}
	<!--<a href="{{ s }}">-->
    <a href="/view/{{ s.key.id() }}">
			{% if s.coverImageURL %}
                <div class="image">
                    <img src = "{{ s.coverImageURL }}"  alt=""/>
                    <h2><span>{{ s.name }}</span></h2>
                </div>
            {% else %}
                <div class="image">
                    <img src = "/bootstrap/img/empty_cover_image.png" alt=""/>
                    <h2><span>{{ s.name }}</span></h2>
                </div>
            {% endif %}
	</a>
{% endfor %}

{% endblock  %}