{% extends "base.html" %}

{% block head_title %}{{ page }} || Connex.us{% endblock head_title %}

{% block content %}

<head>
<style>
.stream_name {
    position: relative;
    text-align: center;
    color: white;
}
/* Centered text */
.centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
</style>
</head>

<h1>View All Streams</h1>
{% for s in streams %}
	<!--<a href="{{ s }}">-->
    <a href="/view/{{ s.key.id() }}">
			{% if s.coverImageURL %}
                <div class="stream_name">
                <h2>WTF0</h2>
	  			<div class="centered"> {{ s.name }}</div>
                <img src = "{{ s.coverImageURL }}"  style="width:160px;height:160px;">
                </div>
            {% else %}
                {{ s.name }}
            {% endif %}
	</a>
{% endfor %}

{% endblock  %}