{% block content %}

<h1 style="padding: 4px 2px;">Welcome to Connexus!</h1>
<h2 style="padding: 4px 6px;">Share the World!</h2>

<head>
  <meta name="google-signin-client_id" content="YOUR_CLIENT_ID.apps.googleusercontent.com">
</head>
<body>
  <div id="my-signin2"></div>
  <script>
    function onSuccess(googleUser) {
      console.log('Logged in as: ' + googleUser.getBasicProfile().getName());
    }
    function onFailure(error) {
      console.log(error);
    }
    function renderButton() {
      gapi.signin2.render('my-signin2', {
        'scope': 'profile email',
        'width': 240,
        'height': 50,
        'longtitle': true,
        'theme': 'dark',
        'onsuccess': onSuccess,
        'onfailure': onFailure
      });
    }
  </script>

  <script src="https://apis.google.com/js/platform.js?onload=renderButton" async defer></script>
</body>
<!--
<form action='/create'
      style="display: block;
    font-size:11px;
    padding:4px 2px;
    width:70px;
    margin:2px 0 20px 10px;">
    <input type="text" name="Email" placeholder="Gmail Address"/>
    <input type="text" name="Password" placeholder="Password"/>
    <input type="submit" value="Log In">
</form>

<div class="nav-collapse collapse pull-right">
    <a href="{{ url|safe }}" class="btn">{{ url_linktext }}</a>
</div>
-->
{% endblock content %}